h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 46px;
  font-size: 43px;
  margin: 0 0 23px 0;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0 0 23px 0;
}
p {
  font-family: 'Bitter', serif;
  font-size: 17px;
  line-height: 23px;
  margin: 0 0 23px 0;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
.slide-content-wrapper-top {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  min-height: 50%;
  top: 50px;
  left: 0;
}
.slide-content-wrapper-top.xl {
  height: 95%;
}
.slide-content-wrapper-bottom {
  position: absolute;
  top: 55%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
}
.slide-content-wrapper-bottom.xl {
  top: 95%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
.container.page {
  padding-top: 80px;
}
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
    max-width: 1100px;
  }
  .container.header {
    width: 100%;
  }
}
a {
  color: #00B9E9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 0 0 25px 50px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.ui-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/*-------------------------------------------- */
/** About Me */
/*-------------------------------------------- */
.about {
  display: table;
  margin: 80px 0 0 0;
  height: 400px;
  zoom: 1;
}
.about:before {
  content: '';
  display: block;
}
.about:after {
  content: '';
  display: table;
  clear: both;
}
.about .left {
  width: 50%;
  height: 300px;
  padding-right: 20px;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
}
.about .left .about-text {
  display: table-cell;
  vertical-align: middle;
}
.about .right {
  width: 50%;
  text-align: left;
}
.about .right img {
  width: 100%;
}
@media screen and (max-width: 615px) {
  .about .right {
    float: none;
    width: 100%;
    text-align: center;
  }
  .about .left {
    float: none;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
.about-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.about-text h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 1;
}
.about-text span {
  font-size: 30px;
  display: block;
}
/*-------------------------------------------- */
/** Social */
/*-------------------------------------------- */
.social {
  background: #00B9E9;
  padding: 15px 0;
}
.social .icons {
  text-align: center;
  margins: 0 auto;
}
/*-------------------------------------------- */
/** Recent Projects */
/*-------------------------------------------- */
.recent {
  margin: 25px 0;
  text-align: center;
}
.recent-project-list {
  margin: 15px 0;
  zoom: 1;
}
.recent-project-list:before {
  content: '';
  display: block;
}
.recent-project-list:after {
  content: '';
  display: table;
  clear: both;
}
.recent-project-list .recent-project-wrapper {
  float: left;
  display: table;
  -lh-property: 0;
width:-webkit-calc(33% - 15px);
width:-moz-calc(33% - 15px);
width:calc(33% - 15px);
;
  height: 250px;
  margin: 0 15px 15px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
  filter: alpha(opacity=90);
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  -webkit-transition: opacity 100ms ease-out;
  -moz-transition: opacity 100ms ease-out;
  -o-transition: opacity 100ms ease-out;
  transition: opacity 100ms ease-out;
}
.recent-project-list .recent-project-wrapper:hover {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.recent-project-list .recent-project-wrapper:last-child {
  margin: 0 0 0 0;
}
.recent-project-list .recent-project-item {
  display: table-cell;
  vertical-align: middle;
}
.recent-project-list .recent-project-item a {
  display: block;
  width: 100%;
  height: 250px;
}
.recent-project-list .recent-project-item img {
  max-width: 90%;
}
@media screen and (max-width: 768px) {
  .recent-project-list .recent-project-wrapper {
    width: 100%;
    margin: 0 0 15px 0;
  }
}
/*-------------------------------------------- */
/** Recent Podcast Episodes */
/*-------------------------------------------- */
.recent-podcast {
  padding: 15px 0;
  background: #00B9E9;
  color: #ffffff;
  text-align: center;
}
.recent-episodes {
  zoom: 1;
}
.recent-episodes:before {
  content: '';
  display: block;
}
.recent-episodes:after {
  content: '';
  display: table;
  clear: both;
}
.recent-episodes a {
  float: left;
  padding: 15px 0;
  width: 50%;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}
@media screen and (max-width: 400px) {
  .recent-episodes a {
    float: none;
    display: block;
    width: 100%;
    font-size: 18px;
  }
  .recent-episodes a:nth-child(1n+5) {
    display: none;
  }
}
/*-------------------------------------------- */
/** Instagram Pics */
/*-------------------------------------------- */
.grams {
  text-align: center;
  margin: 25px 0;
}
.recent-instagram {
  zoom: 1;
}
.recent-instagram:before {
  content: '';
  display: block;
}
.recent-instagram:after {
  content: '';
  display: table;
  clear: both;
}
.recent-instagram li {
  float: left;
  -lh-property: 0;
width:-webkit-calc(16.88% - 15px);
width:-moz-calc(16.88% - 15px);
width:calc(16.88% - 15px);
;
  margin: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.recent-instagram li img {
  width: 100%;
}
.recent-instagram li:last-child {
  margin: 0 0 0 0;
}
@media screen and (max-width: 768px) {
  .recent-instagram {
    margin: 0 0 0 10px;
  }
  .recent-instagram li {
    -lh-property: 0;
width:-webkit-calc(33% - 10px);
width:-moz-calc(33% - 10px);
width:calc(33% - 10px);
;
    margin: 0 10px 0 0;
  }
}
/*-------------------------------------------- */
/** Recent Musings */
/*-------------------------------------------- */
.musings {
  text-align: center;
  padding: 15px 0;
  margin: 25px 0;
  background: #f2e394;
}
.recent-musings {
  zoom: 1;
}
.recent-musings:before {
  content: '';
  display: block;
}
.recent-musings:after {
  content: '';
  display: table;
  clear: both;
}
.recent-musings a {
  float: left;
  padding: 15px 0;
  width: 33%;
  text-align: center;
  font-size: 18px;
}
@media screen and (max-width: 400px) {
  .recent-musings a {
    float: none;
    display: block;
    width: 100%;
    font-size: 18px;
  }
  .recent-musings a:nth-child(1n+5) {
    display: none;
  }
}
.btn,
.btn:link,
.btn:visited {
  border-radius: .3em;
  border-style: solid;
  border-width: 1px;
  color: #111;
  display: inline-block;
  font-family: avenir, helvetica, arial, sans-serif;
  letter-spacing: .15em;
  margin-bottom: .5em;
  padding: 1em .75em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
  transition: color 0.4s, background-color 0.4s, border 0.4s;
}
.btn:hover {
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.btn:active {
  color: #0074D9;
  border: 1px solid #0074D9;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.btn--s {
  font-size: 12px;
}
.btn--m {
  font-size: 14px;
}
.btn--l {
  font-size: 20px;
  border-radius: 0.25em !important;
}
.btn--full,
.btn--full:link {
  border-radius: .25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
/* BLACK & WHITE */
.btn--black,
.btn--black:link,
.btn--black:visited {
  color: #fff;
  background-color: #000;
}
.btn--black:hover {
  color: #fff;
  background-color: #777;
  border-color: #777;
}
.btn--black:active {
  color: #fff;
  background-color: #999;
  border-color: #999;
}
.btn--black:hover {
  background-color: #444;
}
.btn--black {
  background-color: #000;
}
.btn--gray:link,
.btn--gray:visited {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  color: #555;
}
.btn--gray:hover {
  background-color: #ddd;
  border-color: #ddd;
  color: #444;
}
.btn--gray:active {
  background-color: #ccc;
  border-color: #ccc;
  color: #444;
}
.btn--gray-border:link,
.btn--gray-border:visited {
  background-color: #fff;
  border-color: #555;
  border-width: 2px;
  color: #555;
}
.btn--gray-border:hover {
  background-color: #fff;
  border-color: #ddd;
  color: #777;
}
.btn--gray-border:active {
  background-color: #ccc;
  border-color: #ccc;
  color: #444;
}
.btn--gray-dark:link,
.btn--gray-dark:visited {
  background-color: #555;
  color: #eee;
}
.btn--gray-dark:hover {
  background-color: #333;
  border-color: #333;
  color: #eee;
}
.btn--gray-dark:active {
  background-color: #777;
  border-color: #777;
  color: #eee;
}
header {
  width: 100%;
  height: 60px;
  background-color: #00B9E9;
  color: #ffffff;
  zoom: 1;
  padding: 10px 0 0 0;
}
header:before {
  content: '';
  display: block;
}
header:after {
  content: '';
  display: table;
  clear: both;
}
.logo-container {
  width: 50px;
  height: 50px;
  float: left;
}
.logo-container img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .toggle-nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .toggle-nav {
    display: block;
    text-align: right;
    padding: 15px;
    color: #ffffff;
    font-size: 24px;
  }
}
.global-nav {
  float: right;
}
.global-nav ul {
  list-style-position: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.global-nav ul li {
  padding: 15px 15px 15px 15px;
  float: left;
  text-align: center;
}
.global-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
.global-nav ul li:hover,
.global-nav ul li.active {
  border-bottom: 3px solid #ffffff;
}
@media screen and (min-width: 768px) {
  .global-nav .toggle-nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .global-nav {
    width: 100%;
    display: none;
  }
  .global-nav .toggle-nav {
    display: block;
    text-align: right;
    padding: 15px;
    color: #ffffff;
    font-size: 24px;
  }
  .global-nav.open {
    display: block;
  }
  .global-nav ul {
    position: absolute;
    top: 50px;
    right: 0;
    background: #00B9E9;
  }
  .global-nav ul li {
    float: none;
    text-align: right;
  }
  .global-nav ul li a {
    width: 100%;
  }
}
.project-index {
  width: 100%;
  height: 400px;
  display: table;
  text-align: center;
}
.project-index.first-item {
  padding-top: 50px;
}
.project-index .project-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.project-index .img-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}
.project-index .img-container img {
  width: 100%;
}
@media screen and (max-width: 400px) {
  .project-index {
    height: 200px;
  }
}
.project-page {
  margin-bottom: 25px;
  background: #fff;
  text-align: left;
}
.project-title {
  font-size: 56px;
}
.project-sub-hd {
  font-size: 20px;
  line-height: 1;
  margin: 0;
  padding: 20px 0 0 0;
}
.about-me {
  display: table;
  width: 100%;
  background: url('../img/about-bg.jpg') no-repeat center center;
  background-size: cover;
  background-position: fixed;
  height: 100%;
}
.about-me .container {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}
.about-me .content-wrapper {
  width: 65%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 0;
  border: 10px double #588c7e;
  background: rgba(255, 255, 255, 0.75);
}
.about-me .img-container {
  width: 50%;
  margin: 0 auto;
}
.about-me .img-container img {
  width: 100%;
}
.about-me span {
  display: block;
  line-height: 1.1;
  font-size: 25px;
  color: #588c7e;
}
.about-me h1 {
  font-size: 100px;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: #588c7e;
}
.about-me .tag-line {
  margin: 15px 0;
}
.arrow-down {
  color: #588c7e;
  font-size: 45px;
  position: absolute;
  bottom: 45px;
  left: 50%;
  right: 50%;
}
@media screen and (max-width: 768px) {
  .arrow-down {
    display: none;
  }
}
.home-top {
  width: 75%;
  margin: 0 auto;
  border-radius: 5px;
}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }
  70% {
    -moz-transform: scale(0.9);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -o-transform: scale(1.05);
  }
  70% {
    -o-transform: scale(0.9);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -ms-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}
.animated.hinge {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  -ms-animation-delay: .4s;
  -o-animation-delay: .4s;
  animation-delay: .4s;
}
.animated.hinge {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}
@-webkit-keyframes fadeInDown2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown2 {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown2 {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown2 {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  -ms-animation-delay: .7s;
  -o-animation-delay: .7s;
  animation-delay: .7s;
}
.animated.hinge {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}
/* Mobile Styles */
.social-ico {
  font-size: 35px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  margin-right: 10%;
}
.social-ico:last-child {
  margin-right: 0;
}
.social-ico:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
@media screen and (max-width: 768px) {
  .social-ico {
    margin-right: 5%;
    font-size: 26px;
  }
  .social-ico:last-child {
    margin-right: 0;
  }
}
.social-ico.twitter:hover {
  color: #22abf3;
}
.social-ico.dribbble:hover {
  color: #ea4c89;
}
.social-ico.instagram:hover {
  color: #3b5998;
}
.social-ico.github:hover {
  color: #4183c4;
}
.social-ico.facebook:hover {
  color: #3b5998;
}
.social-ico.email:hover {
  color: #db4437;
}
.social-ico.podcast:hover {
  color: #424d54;
}
.browser-frame {
  border: 2px solid #CCC;
  width: 85%;
  margin: 0 auto;
}
.browser-top-bar {
  border-bottom: 2px solid #CCC;
  width: 100%;
  float: left;
}
.browser-button-wrapper {
  padding: 9px 0 0 10px;
  float: left;
}
.browser-button {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #CCC;
}
.browser-address {
  width: 92%;
  border-radius: 5px;
  background: #efefef;
  height: 25px;
  float: right;
  margin: 10px;
}
.browser-container img {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .browser-address {
    width: 80%;
  }
}
footer .footer-top {
  background: #00B9E9;
  text-align: center;
  padding: 20px 0;
}
footer .footer-bottom {
  padding: 50px;
  background: #00B9E9;
  color: #ffffff;
  text-align: center;
  zoom: 1;
}
footer .footer-bottom:before {
  content: '';
  display: block;
}
footer .footer-bottom:after {
  content: '';
  display: table;
  clear: both;
}
footer .footer-bottom .left {
  width: 33.33333333%;
  float: left;
}
footer .footer-bottom .middle {
  width: 33.33333333%;
  float: left;
}
footer .footer-bottom .right {
  width: 33.33333333%;
  float: left;
}
footer .footer-bottom span {
  display: block;
}
footer .footer-bottom a {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  footer .footer-bottom {
    padding: 20px 50px;
  }
  footer .footer-bottom .left,
  footer .footer-bottom .middle,
  footer .footer-bottom .right {
    margin: 15px 0;
    float: none;
    width: 100%;
  }
}
