* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Droid Sans', sans-serif;
}

.container {
	width: 60%;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.container {
		width: 95%;
	}
	
}

.page {
	position: absolute;
	top: 50px;
}