footer {
	.footer-top {
		background: #00B9E9;
		text-align: center;
		padding: 20px 0;
	}

	.footer-bottom {
		padding: 50px;
		background: #00B9E9; 
		color: @white;
		text-align: center;
		.clearfix();
		
		.left {
			width: percentage(1/3);
			float: left;
		}
		.middle {
			width: percentage(1/3);
			float: left;
		}
		.right {
			width: percentage(1/3);
			float: left;
		}

		span {
			display: block;
		}

		a {
			color: @yellow;
		}
		@media screen and (max-width: 768px) {
			padding: 20px 50px;

			.left, 
			.middle,
			.right {
				margin: 15px 0;
				float: none;
				width: 100%;
			}
		}
	}
}