header {
	width: 100%; 
	height: 50px;
	background-color: rgb(88, 140, 126);
	color: @yellow;
	.clearfix();
}

.site-title {
	float: left;
}

@media screen and (min-width: 768px) {
	.toggle-nav {
		display: none;
	}
}

	
@media screen and (max-width: 768px) {
	.toggle-nav {
		display: block;
		text-align: right;
		padding: 15px;
		color: @yellow;
		font-size: 24px;
	}
}


.global-nav {
	float: right;
	ul {
		list-style-position: none;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			padding: 15px 15px 15px 15px;
			float: left;
			text-align: center;

			a {
				color: @yellow;
				text-decoration: none;
			}

			&:hover,
			&.active {
				border-bottom: 3px solid @yellow;
			}
		}
	}

		
	@media screen and (min-width: 768px) {
		.toggle-nav {
			display: none;
		}
		
	}

		
	@media screen and (max-width: 768px) {
		width: 100%;

		.toggle-nav {
			display: block;
			text-align: right;
			padding: 15px;
			color: @yellow;
			font-size: 24px;
		}

		display: none;

		&.open {
			display: block;
		}
		
		ul {
			position: absolute;
			top: 50px;
			right: 0;
			background: @green;

			li {
				float: none;
				text-align: right;

				a {
					width: 100%;
				}
			}
		}
		
	}


}