/*-------------------------------------------- */
/** About Me */
/*-------------------------------------------- */

.about {
    display: table;
    margin: 50px 0;
    height: 400px;
    .clearfix();

    .left {
        width: 50%;
        padding-right: 20px;
        text-align: right;
        .box-sizing(border-box);
    }

    .right {
        width: 50%;
        text-align: left
    }
}

.about-wrapper {
    display: table-cell;
    vertical-align: middle;
}

/*-------------------------------------------- */
/** Social */
/*-------------------------------------------- */

.social {
    background: @yellow;
    padding: 15px 0;
    
    .icons {
        text-align: center;
        margins: 0 auto;
    }
}

/*-------------------------------------------- */
/** Recent Projects */
/*-------------------------------------------- */

.recent {
    text-align: center;
}

.recent-project-list {
    margin: 15px 0;
    .clearfix();

    li {
        float: left;
        display: table;
        .calc(width, ~'33% - 15px');
        height: 250px;
        margin: 0 15px 0 0;
        .box-sizing(border-box);


        &:last-child {
            margin: 0 0 0 0;
        }

        .recent-project-wrapper {
            display: table-cell;
            vertical-align: middle;
        }
    }


}

/*-------------------------------------------- */
/** Recent Podcast Episodes */
/*-------------------------------------------- */

.podcast {
    padding: 15px 0;
    background: @yellow;
    text-align: center;
}

.recent-episodes {
    .clearfix();

    a {
        float: left;
        padding: 15px 0;
        width: 50%;
        text-align: center;
        font-size: 24px
    }
}

/*-------------------------------------------- */
/** Instagram Pics */
/*-------------------------------------------- */

.grams {
    text-align: center;
}
.recent-instagram {
    li {
        float: left;
        margin: 0 15px 0 0;
        width: percentage(1 / 8);
        .box-sizing(border-box);


        &:last-child {
            margin: 0 0 0 0;
        }
    }
}