@font-face {
    font-family: 'londrina_outlineregular';
    src: url('/font/LondrinaOutline-Regular-webfont.eot');
    src: url('/font/LondrinaOutline-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/LondrinaOutline-Regular-webfont.woff') format('woff'),
         url('/font/LondrinaOutline-Regular-webfont.ttf') format('truetype'),
         url('/font/LondrinaOutline-Regular-webfont.svg#londrina_outlineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'londrina_outlineregular', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 46px;
    font-size: 43px;
    margin: 0 0 23px 0;
    }
h2 {
    font-family: 'londrina_outlineregular', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
    }
p {
    font-family: 'Droid Sans', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }