<div class="slide-content-wrapper-top xl">
	<section class="about-me">
		<div class="container home-top">
			<div class="content-wrapper animated fadeInDown">
				<span class="hello js-fit-text" data-fit-max-font-size="22" data-fit-min-font-size="16" data-fit-compressor="1.5">Hello friends, my name is</span>
				<h1 class="js-fit-text" data-fit-max-font-size="100"  data-fit-min-font-size="72" data-fit-compressor=".5">{{ site.title }}</h1>
				<span class="js-fit-text tag-line" data-fit-max-font-size="22" data-fit-min-font-size="16" data-fit-compressor="1.5">{{site.meta['Tagline']}}</span>
				
				{% include 'includes/social-icons' %}
			</div>
		</div>
	</section>
</div>