<div class="container">
    <section class="about">
        <div class="about-wrapper">
            <div class="right">
                <img src="{{site.meta['Profile Image']}}" alt="">
            </div>
            <div class="left">
                <div class="about-text">
                    <h1><span class="js-fit-text" data-fit-max-font-size="26"  data-fit-min-font-size="14" data-fit-compressor="1.5">Hi friends, my name is</span>
                    <span class="js-fit-text" data-fit-max-font-size="50"  data-fit-min-font-size="40" data-fit-compressor="1">{{ site.title }}</span>
                    <span class="js-fit-text" data-fit-max-font-size="26"  data-fit-min-font-size="14" data-fit-compressor="1.5">{{site.meta['Tagline']}}</span></h1>
                    <br>
                    <a href="/hire" class="view-site-btn btn btn--gray btn--m">Work With Me!</a>
                </div>
            </div>
        </div>
    </section>
</div>