<header class="project-index" style="background-color: {{meta['Background Color']}}">
	<div class="container project-wrapper">
		<div class="img-container">
			<img src="{{meta['Header Image']}}" alt="">	
		</div>
	</div>
</header>

<div class="project-page">
	<div class="container">
		<h2 class="project-sub-hd">A Project For</h2>
		<h1 class="project-title">{{ title }}</h1>
	
		<span class="project-role">Role: {{meta['Project Role']}}</span>
	
		<p><span>Deliverables: </span>{{meta['Deliverables']}}</p>

		<a href="{{meta['Project URL']}}" target="_blank" class="view-site-btn btn btn--gray btn--m">View Site</a>
		<div class="body-text">
			{{ body }}
		</div>

		{% if {{meta['Project Image']}} %}
			<div class="browser-frame">
		        <div class="browser-top-bar">
		            <div class="browser-button-wrapper">
		                <div class="browser-button"></div>
		                <div class="browser-button"></div>
		                <div class="browser-button"></div>
		            </div>
		            <div class="browser-address"></div>
		        </div>
		        <div class="browser-container">
					<img src="{{meta['Project Image']}}" alt="">
		        </div>
		    </div>	
		{% endif %}
	</div>
</div>