<header class="project-index" style="background-color: {{meta['Background Color']}}">
	<div class="container project-wrapper">
		<div class="img-container">
			<img src="{{meta['Header Image']}}" alt="">	
		</div>
	</div>
</header>

<div class="project-page">
	<div class="container">
		<h2 class="project-sub-hd">A Project For</h2>
		<h1 class="project-title">{{ title }}</h1>
	
		<p><span class="italic bold">Role:</span> {{meta['Project Role']}} <br>
			<span class="italic bold">Deliverables:</span> {{meta['Deliverables']}}</p>

		<div class="body-text">
			{{ body }}
		</div>

		{% if {{meta['Project Image']}} %}
			<div class="browser-frame">
		        <div class="browser-top-bar">
		            <div class="browser-button-wrapper">
		                <div class="browser-button"></div>
		                <div class="browser-button"></div>
		                <div class="browser-button"></div>
		            </div>
		            <div class="browser-address"></div>
		        </div>
		        <div class="browser-container">
					<img src="{{meta['Project Image']}}" alt="">
		        </div>
		    </div>	
		{% endif %}
	</div>
</div>