<div class="icons animated fadeInDown">
	<a class="social-ico twitter" href="{{site.meta['Twitter']}}"><i class="fa fa-twitter"></i></a>

	<a class="social-ico github" href="{{site.meta['Github']}}"><i class="fa fa-github"></i></a>

	<a class="social-ico email" href="mailto:{{site.meta['Email']}}"><i class="fa fa-paper-plane"></i></a>
	
	<a class="social-ico podcast" href="{{site.meta['Podcast']}}"><i class="fa fa-microphone"></i></a>
	
	<a class="social-ico facebook" href="{{site.meta['Facebook']}}"><i class="fa fa-facebook"></i></a>

	<a class="social-ico instagram" href="{{site.meta['Instagram']}}http://instagram.com/reubeningber"><i class="fa fa-instagram"></i></a>
</div>