<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

    <title>{% if current.title == 'Home' %}{{ site.title }}{% else %}{{ current.title }} | {{ site.title }}{% endif %}</title>
    <meta name="Author" content="{{ post.author }}">
    <meta name="Description" content="{{site.meta['Description']}}">
    <meta name="Keywords" content="{{site.meta['Keywords']}}">

    <meta name="viewport" content="width=device-width, user-scalable=no">
   
    <link type="application/rss+xml" rel="alternate" title="How to Hold a Pencil" href="{{site.meta['RSS Link']}}">
    
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.sitemap_url }}" />


    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Typography -->
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Facebook Open Graph Properties -->
    <meta property="og:title" content="{{ site.title }} - {{ current.title }}" />
    <meta property="og:description" content="{{site.meta['Description']}}"/>
    <meta property="og:image" content="{{site.permalink}}{{post.meta['episode-img']}}" />

</head>

<body>
    {% include 'includes/header' %}

    {{ content }}

    {% include 'includes/footer' %}


    {% include 'includes/scripts' %}

</body>
</html>